@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
.method__btn .fa-store, .method__btn .fa-list-ul, .method__btn .fa-mobile-alt {
  position: absolute;
  left: 38px;
  font-size: 21px;
  color: #8A8A8A;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  margin-left: 20px;
}

.menu h1 {
  font-family: "Shrikhand";
  font-size: 26px;
  margin: 0;
}
.menu__section h2 {
  font-weight: 300;
  font-size: 19px;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
}

.button {
  padding: 17px 25px;
  width: max-content;
  background: linear-gradient(161deg, #FF79DA 0%, #9256dc 80%);
  border-radius: 150px;
  box-shadow: 1px 10px 16px 0px rgba(178, 185, 194, 0.75);
  color: #fff;
  font-weight: 500;
}

.method__btn {
  width: 87%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  background-color: #eeeeee;
  padding: 27px 50px;
  border-radius: 22px;
  box-shadow: 1px 10px 16px 0px rgba(178, 185, 194, 0.75);
  justify-content: center;
  align-items: center;
}
.method__btn:hover {
  background-color: rgba(181, 137, 236, 0.226);
}
.method__btn--number {
  position: absolute;
  left: -13px;
  color: #fff;
  background-color: #9256dc;
  border-radius: 150px;
  padding: 4px 9px;
}
.method__btn .fa-store {
  font-size: 18px;
}
.method__btn--text {
  font-weight: 700;
}

.logo {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}
.logo__pic {
  max-width: 100%;
  padding: 13px 0;
}
.logo .fa-arrow-left {
  font-size: 19px;
  position: absolute;
  left: 20px;
  top: 17px;
  color: #000000;
}

.container img {
  object-fit: cover;
  width: 100%;
}

.menu {
  position: relative;
  top: -55px;
  background-color: #eeeeee;
  border-radius: 40px 40px 0 0;
}
.menu__title {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu__title .fa-heart {
  font-size: 27px;
  padding-right: 10px;
}
.footer {
  background-color: #363636;
  color: #fff;
  width: 100%;
  height: 220px;
  padding: 28px 0 0 23px;
}
.footer h4 {
  font-family: "Shrikhand";
  font-size: 18px;
  padding-bottom: 19px;
  margin: 0;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__list .fa-utensils {
  font-size: 14px;
  padding-right: 10px;
}
.footer__list .fa-hands-helping {
  font-size: 11px;
  padding-right: 8px;
}
.footer__list a {
  text-decoration: none;
  color: #fff;
}
.footer__list a:hover {
  color: #9256dc;
}

.location {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.location__info {
  padding: 17px 0;
  background-color: #e0e0e0;
  box-shadow: 0px 4px 5px 0px inset rgba(178, 185, 194, 0.75);
}
.location__info .fa-map-marker-alt {
  position: absolute;
  left: 105px;
}
.location__text {
  padding: 20px 0 40px 0;
  background-color: #eeeeee;
}
.location__text h1 {
  margin: 0;
  padding: 30px 50px 0 50px;
}
.location__text p {
  margin: 0;
  padding: 16px 30px 0 30px;
  font-size: 17px;
  font-weight: 300;
}
.location__text--btn {
  margin: 35px 0 20px 0;
  margin-left: auto;
  margin-right: auto;
}

.restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #eeeeee;
  margin-top: 70px;
}
.restaurant a {
  text-decoration: none;
  color: #000000;
}
.restaurant__card {
  position: relative;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 1px 10px 16px 0px rgba(178, 185, 194, 0.75);
  border-radius: 15px;
}
.restaurant__card--img {
  object-fit: cover;
  width: 100%;
  max-height: 70%;
  border-radius: 15px 15px 0 0;
}
.restaurant__card--img-bis {
  height: 225px;
}
.restaurant__card--new {
  position: absolute;
  right: 20px;
  top: 15px;
  padding: 7px 13px;
  background-color: #99E2D0;
  color: #278870;
  width: max-content;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.6px;
  border-radius: 3px;
}
.restaurant__card--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant__card--info h3, .restaurant__card--info p {
  margin: 0;
  font-size: 16px;
  padding-bottom: 3px;
}
.restaurant__card--info p {
  font-weight: 300;
}
.restaurant__card--info-text {
  padding: 10px 0 0 12px;
}
.restaurant__card--info .fa-heart {
  font-size: 25px;
  padding-right: 20px;
}

/*# sourceMappingURL=style.css.map */
