@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
.method__btn .fa-store, .method__btn .fa-list-ul, .method__btn .fa-mobile-alt {
  position: absolute;
  left: 38px;
  font-size: 21px;
  color: #8a8a8a;
}

.loading-spinner__quart_3, .loading-spinner__quart_2, .loading-spinner__quart_1 {
  border-radius: 70px;
  border: 9px solid rgba(255, 255, 255, 0.4);
}
.loading-spinner__quart_3::before, .loading-spinner__quart_2::before, .loading-spinner__quart_1::before {
  content: "";
  position: absolute;
  inset: -9px;
  border-radius: 70px;
  border: 9px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 1.1s linear infinite;
  animation: spin 1.1s linear infinite;
}

.loader_3, .loader_2, .loader_1 {
  position: absolute;
  display: inline-block;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .method__btn .fa-store, .method__btn .fa-list-ul, .method__btn .fa-mobile-alt {
    left: 100px;
  }
}
@media screen and (min-width: 768px) {
  .method__btn .fa-store, .method__btn .fa-list-ul, .method__btn .fa-mobile-alt {
    left: 20px;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: black;
}

span {
  display: inline-block;
}

.menu h1 {
  font-family: "Shrikhand";
  font-size: 27px;
  margin-top: 20px;
}
.menu__section--card-txt-name {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}
.menu__section h2 {
  font-weight: 300;
  font-size: 19px;
  text-transform: uppercase;
  border-bottom: 3.5px solid #99E2D0;
  width: 50px;
  margin: 40px 0 20px 17px;
  padding-bottom: 6px;
}

.footer h4 {
  font-family: "Shrikhand";
  font-size: 18px;
  padding-bottom: 19px;
  margin: 0;
}

.button {
  padding: 17px 25px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 150px;
  background: linear-gradient(161deg, #FF79DA 0%, #9256dc 80%);
  box-shadow: 1px 10px 16px 0px rgba(178, 185, 194, 0.75);
  color: #fff;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1);
  transition: all 400ms;
}
.button:hover {
  transform: scale(1.09);
  box-shadow: 0px 13px 8px 1px rgba(178, 185, 194, 0.75);
  opacity: 0.8;
}
.button__order {
  margin-top: 60px;
  padding: 17px 50px;
}

.method {
  background-color: #fff;
  padding: 10px 0px 40px 0px;
}
.method__btn {
  width: 87%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  background-color: #eeeeee;
  padding: 27px 50px;
  border-radius: 22px;
  box-shadow: 1px 10px 16px 0px rgba(178, 185, 194, 0.75);
  justify-content: center;
  align-items: center;
}
.method__btn:hover {
  background-color: rgba(181, 137, 236, 0.226);
  transform: translateX(10px);
  transition: 250ms;
}
.method__btn:hover > .fa-mobile-alt, .method__btn:hover .fa-list-ul, .method__btn:hover .fa-store {
  color: #9256dc;
}
.method__btn--number {
  position: absolute;
  left: -13px;
  color: #fff;
  background-color: #9256dc;
  border-radius: 150px;
  padding: 4px 9px;
}
.method__btn .fa-store {
  font-size: 18px;
}
.method__btn--text {
  font-weight: 700;
}

.logo {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}
.logo__pic {
  max-width: 100%;
  padding: 13px 0;
}
.logo .fa-arrow-left {
  font-size: 19px;
  position: absolute;
  left: 20px;
  top: 17px;
  color: #000000;
}

h2 {
  margin: 40px 0 20px 20px;
}

.container {
  background-color: #eeeeee;
  padding-bottom: 30px;
}
.container img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.container .img_2_bis {
  max-height: 270px;
}

.menu {
  position: relative;
  top: -55px;
  background-color: #eeeeee;
  border-radius: 40px 40px 0 0;
}
.menu__title {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu__title--heart .fa-heart {
  font-size: 27px;
  padding-right: 10px;
  margin-top: 20px;
}
.menu__title--heart-empty {
  position: absolute;
  color: #8a8a8a;
  transition: opacity 800ms;
  cursor: pointer;
  z-index: 1;
}
.menu__title--heart-empty:hover {
  opacity: 0;
}
.menu__title--heart-empty:hover + .menu__title--heart-full {
  opacity: 1;
}
.menu__title--heart-full {
  position: relative;
  background: linear-gradient(60deg, #FF79DA 0%, #9256dc 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 960ms;
}
.menu__section--title {
  animation: fadein 850ms ease-in-out backwards;
}
.menu__section--card {
  cursor: pointer;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 95%;
  height: 80px;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 14px 0 14px 15px;
  box-shadow: 1px 10px 16px 0px rgba(178, 185, 194, 0.75);
}
.menu__section--card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__section--card:hover .anim-check {
  transform: translateX(0);
}
.menu__section--card:hover .fa-check-circle {
  transform: rotate(3turn);
}
.menu__section--card:hover .menu__section--card-txt-price {
  transform: translateX(-80px);
}
.menu__section--card-txt {
  display: flex;
  justify-content: space-between;
}
.menu__section--card-txt-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__section--card-txt-price {
  padding: 0 15px 0 15px;
  font-weight: 500;
  transform: translateX(0);
  transition: 300ms 50ms;
}
.menu__section--card-txt-anim {
  position: absolute;
  width: 80px;
  background-color: #99E2D0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: transform 300ms;
}
.menu__section--card-txt .fa-check-circle {
  display: flex;
  justify-content: center;
  font-size: 26px;
  color: #fff;
  line-height: 80px;
  transform: rotate(0deg);
  transition: transform 350ms;
}

.progressive_card {
  -webkit-animation: fadein 850ms ease-in-out backwards;
  animation: fadein 850ms ease-in-out backwards;
}
.progressive_card--1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.progressive_card--2 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.progressive_card--3 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.progressive_card--4 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

@-webkit-keyframes fadein {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.footer {
  background-color: #363636;
  color: #fff;
  width: 100%;
  padding: 28px 0 40px 23px;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.footer__list li {
  padding-bottom: 8px;
}
.footer__list .fa-utensils {
  font-size: 14px;
  padding-right: 10px;
}
.footer__list .fa-hands-helping {
  font-size: 11px;
  padding-right: 8px;
}
.footer__list a {
  text-decoration: none;
  color: #fff;
}
.footer__list a:hover {
  color: #9256dc;
}

.location {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.location__bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 17px 0;
  background-color: #e0e0e0;
  box-shadow: 0px 4px 5px 0px inset rgba(178, 185, 194, 0.75);
  z-index: 0;
}
.location__bloc .fa-map-marker-alt {
  font-size: 25px;
  padding-right: 5px;
}
.location__bloc--form-text {
  z-index: 2;
  width: 170px;
  font-size: 20px;
  text-align: center;
  border: none;
  outline: none;
  background-color: #e0e0e0;
}
.location__text {
  padding: 20px 0 40px 0;
  background-color: #eeeeee;
}
.location__text h1 {
  margin: 0;
  padding: 30px 50px 0 50px;
}
.location__text p {
  margin: 0;
  padding: 16px 30px 0 30px;
  font-size: 17px;
  font-weight: 300;
}
.location__text--btn {
  margin: 35px 0 20px 0;
  margin-left: auto;
  margin-right: auto;
}

.restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #eeeeee;
  margin-top: 20px;
  padding-bottom: 40px;
}
.restaurant a {
  text-decoration: none;
  color: #000000;
}
.restaurant__card {
  position: relative;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 1px 10px 16px 0px rgba(178, 185, 194, 0.75);
  border-radius: 15px;
  transform: scale(1);
  transition: transform 600ms;
}
.restaurant__card:hover {
  transform: scale(0.95);
  box-shadow: 1px 2px 16px 0px #99E2D0;
}
.restaurant__card--img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  max-height: 70%;
  border-radius: 15px 15px 0 0;
  max-height: 195px;
}
.restaurant__card--new {
  position: absolute;
  right: 20px;
  top: 15px;
  padding: 7px 13px;
  background-color: #99E2D0;
  color: #278870;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.6px;
  border-radius: 3px;
}
.restaurant__card--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant__card--info h3, .restaurant__card--info p {
  margin: 0;
  font-size: 16px;
  padding-bottom: 3px;
}
.restaurant__card--info p {
  font-weight: 300;
}
.restaurant__card--info-text {
  padding: 10px 0 0 12px;
}
.restaurant__card--info-heart .fa-heart {
  font-size: 25px;
  padding-right: 20px;
}
.restaurant__card--info-heart-empty {
  position: absolute;
  color: #8a8a8a;
  transition: opacity 800ms;
  cursor: pointer;
  z-index: 1;
}
.restaurant__card--info-heart-empty:hover {
  opacity: 0;
}
.restaurant__card--info-heart-empty:hover + .restaurant__card--info-heart-full {
  opacity: 1;
}
.restaurant__card--info-heart-full {
  position: relative;
  background: linear-gradient(60deg, #FF79DA 0%, #9256dc 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 960ms;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 400px;
  }
  .logo .fa-arrow-left {
    margin-top: 10px;
    font-size: 40px;
  }

  .container > img {
    height: 280px;
  }

  .menu__title {
    justify-content: space-around;
  }
  .menu__title h1 {
    margin-left: 40px;
    font-size: 35px;
  }
  .menu__title i {
    margin-right: 40px;
  }
  .menu__section h2 {
    margin-left: 100px;
  }
  .menu__section--card {
    width: 70%;
  }

  h2 {
    text-align: center;
    margin: 30px 0px 30px 0px;
  }

  .method__bloc {
    display: flex;
    justify-content: center;
  }
  .method__btn:hover {
    transform: translateY(10px);
  }
  .method__btn--number {
    top: -10px;
    left: 47%;
  }
  .method__btn--text {
    text-align: center;
  }

  .restaurant h2 {
    margin-bottom: 40px;
  }
  .restaurant__bloc-1 {
    display: flex;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .restaurant__bloc-1 div:first-child {
    margin-right: 60px;
  }
  .restaurant__bloc-2 {
    display: flex;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
  .restaurant__bloc-2 div:first-child {
    margin-right: 60px;
  }
  .restaurant__card {
    max-height: 230px;
  }
  .restaurant__card--info-heart-empty:active {
    opacity: 0;
  }
  .restaurant__card--info-heart-empty:active + .restaurant__card--info-heart-full {
    opacity: 1;
  }
  .restaurant__card--img {
    height: 160px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  h2 {
    text-align: center;
    margin: 30px 0px 30px 0px;
  }

  .method__btn {
    margin-bottom: 40px;
  }
  .method__btn--number {
    top: -10px;
    left: 47%;
  }

  .restaurant h2 {
    margin-bottom: 40px;
  }
  .restaurant__bloc {
    margin-right: auto;
    margin-left: auto;
  }
  .restaurant__bloc-1 {
    display: flex;
    justify-content: space-around;
    margin: 0px 50px 40px 50px;
  }
  .restaurant__bloc-2 {
    display: flex;
    margin: 0px 50px 0px 50px;
    justify-content: space-around;
  }
  .restaurant__card {
    width: 45%;
    max-height: 240px;
    margin-right: 0;
    margin-left: 0;
  }
  .restaurant__card--img {
    height: 160px;
  }

  .menu__title {
    justify-content: space-around;
  }
  .menu__section h2 {
    margin-left: 100px;
  }
  .menu__section--card {
    width: 70%;
  }
}
.loading-spinner {
  background-color: #363636;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 1;
  line-height: 800px;
  opacity: 0.9;
  color: #fff;
  font-size: 40px;
  font-family: "Shrikhand";
  text-align: center;
  -webkit-animation: loader-end 3s 1.7s forwards;
  animation: loader-end 3s 1.7s forwards;
}
.loading-spinner__quart_1 {
  border: 9px solid #9256dc;
}
.loading-spinner__quart_2 {
  border: 9px solid #FF79DA;
}
.loading-spinner__quart_3 {
  border: 9px solid #99E2D0;
}
.loading-spinner__txt {
  background: linear-gradient(65deg, #FF79DA 0%, #9256dc 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.loader_1 {
  width: 50px;
  height: 50px;
  left: 210px;
  top: 160px;
}
.loader_2 {
  width: 75px;
  height: 75px;
  left: 260px;
  top: 200px;
}
.loader_3 {
  width: 100px;
  height: 100px;
  left: 190px;
  top: 270px;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader-end {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes loader-end {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@media screen and (min-width: 768px) {
  .loader_1 {
    left: 560px;
    top: 160px;
  }
  .loader_2 {
    left: 610px;
    top: 200px;
  }
  .loader_3 {
    left: 540px;
    top: 270px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .loader_1 {
    left: 400px;
    top: 160px;
  }
  .loader_2 {
    left: 460px;
    top: 200px;
  }
  .loader_3 {
    left: 380px;
    top: 270px;
  }
}

/*# sourceMappingURL=style.css.map */
