
.button{
    padding: 17px 25px;
    width: max-content;
    border-radius: 150px;
    @include background-btn;
    @include box-shadow;
    color: $white;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1);
    transition: all 400ms;
    &:hover {
        transform: scale(1.09);
        @include box-shadow(0px 13px 8px 1px);
        opacity: 0.8;
    }
    &__order {
        margin-top: 60px;
        padding: 17px 50px;
    }
}

.method {
    background-color: $white;
    padding: 10px 0px 40px 0px;
    &__btn {
        width: 87%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        position: relative;
        display: flex;
        background-color: $backcolour-secondary;
        padding: 27px 50px;
        border-radius: 22px;
        @include box-shadow;
        justify-content: center;
        align-items: center;
        &:hover{
            background-color: $purple;
            & > .fa-mobile-alt,.fa-list-ul,.fa-store {
                color: $colour-primary;
            }
            transform: translateX(10px);
            transition: 250ms;
        }
        &--number {
            position: absolute;
            left: -13px;
            color: $white;
            background-color: $colour-primary;
            border-radius: 150px;
            padding: 4px 9px;
        }
        & .fa-mobile-alt {
            @extend %icon-btn-method;
        }
        & .fa-list-ul {
            @extend %icon-btn-method;
        }
        & .fa-store {
            @extend %icon-btn-method;
            font-size: 18px;
        }
        &--text {
            font-weight: 700;
        }
    }
}

