@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');


.menu {
    h1 {
        font-family: $font;
        font-size: 27px;
        margin-top: 20px;
       
    }
    &__section {
        &--card {
            &-txt {
                &-name {
                    margin: 0;
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }
        h2 {
            font-weight: 300;
            font-size: 19px;
            text-transform: uppercase;
            border-bottom: 3.5px solid $colour-tertiary;
            width: 50px;
            margin: 40px 0 20px 17px;
            padding-bottom: 6px;
        }
    }
}


.footer {
    h4 {
        font-family: $font;
        font-size: 18px;
        padding-bottom: 19px;
        margin: 0;
    }
}