@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');

h1, h2, h3, h4 {
    margin: 0;
}

h2 {
    
    margin: 40px 0 20px 20px;
}

.menu {
    h1 {
        font-family: 'Shrikhand';
        font-size: 27px;
        margin: 20px 0 10px 0;
       
    }
    &__section {
        h2 {
            font-weight: 300;
            font-size: 19px;
            text-transform: uppercase;
            border-bottom: 3.5px solid $colour-tertiary;
            width: 50px;
            margin: 40px 0 20px 17px;
            padding-bottom: 6px;
        }
        p {
            margin: 0;
            font-size: 14px;
            font-weight: 300;
        }
    }
}