@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');



h2 {
    margin-left: 20px;
}

.menu {
    h1 {
        font-family: 'Shrikhand';
        font-size: 26px;
        margin: 0;
    }
    &__section {
        h2 {
            font-weight: 300;
            font-size: 19px;
            text-transform: uppercase;
            border-bottom: 3px solid $colour-tertiary;
            width: 50px;
        }
    }
}