// **** page d'acceuil ****

.location {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    &__bloc {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        padding: 17px 0;
        background-color: $backcolour-primary;
        @include box-shadow(0px 4px 5px 0px inset);
        z-index: 0;
        .fa-map-marker-alt {
            font-size: 25px;
            padding-right: 5px;
        }
        &--form {
            &-text {
                z-index: 2;
                width: 170px;
                font-size: 20px;
                text-align: center;
                border: none;
                outline: none;
                background-color: $backcolour-primary;
            }
        }
    }
    &__text {
        padding: 20px 0 40px 0;
        background-color: $backcolour-secondary;
        & h1 {
            margin: 0;
            padding: 30px 50px 0 50px;
        }
        & p {
            margin: 0;
            padding: 16px 30px 0 30px;
            font-size: 17px;
            font-weight: 300;
        }
        &--btn {
            margin: 35px 0 20px 0;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.restaurant {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $backcolour-secondary;
    margin-top: 20px;
    padding-bottom: 40px;
    & a{
        text-decoration: none;
        color: $black;
    }
    &__card {
        position: relative;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 270px;
        margin-left: auto;
        margin-right: auto;
        background-color: $white;
        @include box-shadow;
        border-radius: 15px;
        transform: scale(1);
        transition: transform 600ms;
        &:hover {
            transform: scale(.95);
            @include box-shadow (1px 2px 16px 0px, $colour-tertiary);
        }
        &--img {
            -o-object-fit: cover;
               object-fit: cover;
            width: 100%;
            max-height: 70%;
            border-radius: 15px 15px 0 0;
            max-height: 195px;
        }
        &--new {
            position: absolute;
            right: 20px;
            top: 15px;
            padding: 7px 13px;
            background-color: $colour-tertiary;
            @include text-info-color;
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            font-weight: 500;
            font-size: 17px;
            letter-spacing: .6px;
            border-radius: 3px;
        }
        &--info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3,p {
                margin: 0;
                font-size: 16px;
                padding-bottom: 3px;
            }
            p {
                font-weight: 300;
            }
            &-text {
                padding: 10px 0 0 12px;
            }
            &-heart {
                .fa-heart {
                    font-size: 25px;
                    padding-right: 20px;
                }
                &-empty {
                    position: absolute;
                    color: $grey;
                    transition: opacity 800ms;
                    cursor: pointer;
                    z-index: 1;
                    &:hover {
                        opacity: 0;
                        & + .restaurant__card--info-heart-full {
                            opacity: 1;
                        }
                    }
                }
                &-full {
                    position: relative;
                    @include background-btn(60deg);
                    -webkit-background-clip: text;
                            background-clip: text;
                    color: transparent;
                    opacity: 0;
                    transition: opacity 960ms;
                }
            }
        }
    }
}


@media screen and (min-width:768px) {
    .logo {
        width: 400px;
        .fa-arrow-left {
            margin-top: 10px;
            font-size: 40px;
        }
    }
    .container {
        & > img {
            height: 280px;
        }
    }
    .menu {
        &__title {
            justify-content: space-around;
            h1 {
                margin-left: 40px;
                font-size: 35px;
            }
            i {
                margin-right: 40px;
            }
        }
        &__section {
            h2 {
                margin-left: 100px;
            }
            &--card {
                width: 70%;
            }
        }
    }    
    h2 {
        text-align: center;
        margin: 30px 0px 30px 0px;
    }
    .method {
        &__bloc {
            display: flex;
            justify-content: center;
        }
        &__btn {
            
            &:hover {
                transform: translateY(10px);
            }   
            &--number {
                top: -10px;
                left: 47%;
            }
            &--text {
                text-align: center;
            }
        }
    }
    .restaurant {
        h2 {
            margin-bottom: 40px;
        }
        &__bloc {
            &-1 {
                display: flex;
                width: 75%;
                margin-right: auto;
                margin-left: auto;
                margin-bottom: 30px;
                & article:first-child {
                    margin-right: 60px;
                }
            }
            &-2 {
                display: flex;
                width: 75%;
                margin-right: auto;
                margin-left: auto;
                & article:first-child {
                    margin-right: 60px;
                }
            }
        }
        &__card {
            max-height: 230px;
            &--info {
                &-heart {
                    &-empty {
                        &:active {
                            opacity: 0;
                            & + .restaurant__card--info-heart-full {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            &--img {
                height: 160px;
            }
        }
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    h2 {
        text-align: center;
        margin: 30px 0px 30px 0px;
    }
    .method {
        &__btn {
            margin-bottom: 40px;
            &--number {
                top: -10px;
                left: 47%;
            }
        }
    }
    .restaurant {
        h2 {
            margin-bottom: 40px;
        }
        &__bloc {
            margin-right: auto;
            margin-left: auto;
            &-1 {
                display: flex;
                justify-content: space-around;
                margin: 0px 50px 40px 50px;
            }
            &-2 {
                display: flex;
                margin: 0px 50px 0px 50px;
                justify-content: space-around;
            }
        }
        &__card {
            width: 45%;
            max-height: 240px;
            margin-right: 0;
            margin-left: 0;
            &--img {
                height: 160px;
            }
        }
    }
    .menu {
        &__title {
            justify-content: space-around; 
        }
        &__section {
            h2 {
                margin-left: 100px;
            }
            &--card {
                width: 70%;
            }
        }
    }      
}


 




