// **** page d'acceuil ****

.location {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
        &__form {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 17px 0;
            background-color: $backcolour-primary;
            @include box-shadow(0px 4px 5px 0px inset);
            .fa-map-marker-alt{
                display: inline-block;
            }
            &--text {
                font-size: 20px;
                text-align: center;
                width: 30%;
                border: none;
                outline: none;
                background-color: $backcolour-primary;
            }
        }
        &__text {
            padding: 20px 0 40px 0;
            background-color: $backcolour-secondary;
            & h1 {
                margin: 0;
                padding: 30px 50px 0 50px;
            }
            & p {
                margin: 0;
                padding: 16px 30px 0 30px;
                font-size: 17px;
                font-weight: 300;
            }
            &--btn {
                margin: 35px 0 20px 0;
                margin-left: auto;
                margin-right: auto;
            }
        }
}

.restaurant {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $backcolour-secondary;
    margin-top: 20px;
    padding-bottom: 40px;
    & a{
        text-decoration: none;
        color: $black;
    }
    &__card {
        position: relative;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 270px;
        margin-left: auto;
        margin-right: auto;
        background-color: $white;
        @include box-shadow;
        border-radius: 15px;
        &--img {
            object-fit: cover;
            width: 100%;
            max-height: 70%;
            border-radius: 15px 15px 0 0;
            max-height: 195px;
        }
        &--new {
            position: absolute;
            right: 20px;
            top: 15px;
            padding: 7px 13px;
            background-color: $colour-tertiary;
            @include text-info-color;
            width: max-content;
            font-weight: 500;
            font-size: 17px;
            letter-spacing: .6px;
            border-radius: 3px;
        }
        &--info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3,p {
                margin: 0;
                font-size: 16px;
                padding-bottom: 3px;
            }
            p {
                font-weight: 300;
            }
            &-text {
                padding: 10px 0 0 12px;
            }
            &-heart {
                .fa-heart {
                    font-size: 25px;
                    padding-right: 20px;
                    
                }
                &-empty {
                    position: absolute;
                    color: $grey;
                    transition: opacity 800ms;
                    cursor: pointer;
                    z-index: 1;
                    &:hover {
                        opacity: 0;
                        & + .restaurant__card--info-heart-full {
                            opacity: 1;
                        }
                    }
                }
                &-full {
                    position: relative;
                    @include background-btn(80deg);
                    background-clip: text;
                    opacity: 0;
                    transition: opacity 800ms;
                }
            }
        }
    }
}


