// **** page d'acceuil ****
.logo {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
        &__pic {
            max-width: 100%; 
            padding: 13px 0;
        }
}

.location {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
        &__info {
            padding: 17px 0;
            background-color: $backcolour-primary;
            @include box-shadow(0px 4px 5px 0px inset);
            .fa-map-marker-alt{
                position: absolute;
                left: 105px;
            }
        }
        &__text {
            padding: 20px 0 40px 0;
            background-color: $backcolour-secondary;
            & h1 {
                margin: 0;
                padding: 30px 50px 0 50px;
            }
            & p {
                margin: 0;
                padding: 16px 30px 0 30px;
                font-size: 17px;
                font-weight: 300;
            }
            &--btn {
                margin: 35px 0 20px 0;
                margin-left: auto;
                margin-right: auto;
            }
        }
}