
%icon-btn-method {
    position: absolute;
    left: 38px;
    font-size: 21px;
    color: $grey;
}

@media screen and (min-width:481px) and (max-width:768px) {
    %icon-btn-method {
        left: 100px;
    }
}

@media screen and (min-width:768px) {
    %icon-btn-method {
        left: 20px;
    }
}