
@mixin box-shadow($shadow-size: $btn-shadow-size, $shadow-color: $btn-shadow-color) {
    box-shadow: $shadow-size $shadow-color;
}
@mixin text-info-color($colour:$colour-tertiary){
    color: darken($colour, 40%);
}
    
