// **** colours ****

$colour-primary : #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$white :#fff;

$backcolour-primary : #e7e7e7;
$backcolour-secondary : #f7f7f7;

$box-shadow: rgba(178,185,194,0.75);