// **** colours ****

$colour-primary : #9256dc;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$white :#fff;
$grey : #8A8A8A;
$purple : hsla(267, 72%, 73%, 0.856);

$backcolour-primary : #e0e0e0;
$backcolour-secondary : #eeeeee;

$btn-shadow-size: 1px 10px 16px 0px;
$btn-shadow-color: rgba(178,185,194,0.75);