h2 {
    margin: 40px 0 20px 20px;
}
.container {
    background-color: $backcolour-secondary;
    padding-bottom: 30px;
    img {
        object-fit: cover;
        width: 100%;
    }
    .img_2_bis {
        max-height: 270px;
    }
}

.menu {
    position: relative;
    top: -55px;
    background-color: $backcolour-secondary;
    border-radius: 40px 40px 0 0;
    &__title {
        padding-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .fa-heart {
            font-size: 27px;
            padding-right: 10px;
            margin-top: 20px;
        }
    }
    &__section {
       &--card {
           display: flex;
           flex-direction: column;
           justify-content: space-between;
           width: 95%;
           height: 80px;
           background-color: $white;
           border-radius: 15px;
           margin-bottom: 20px;
           margin-right: auto;
           margin-left: auto;
           padding: 14px 0 14px 15px;
           @include box-shadow;
           &-txt {
                display: flex;
                justify-content: space-between;
                span {
                    padding-right: 25px;
                    font-weight: 500;
                }
           }
       }
    }
}

// *** animation menu ***

.progressive_card {
    animation: fadein 3s;
    &--1 {
        animation-delay: 0s;
    }
    &--2 {
        animation-delay: 0.5s;
    }
    &--3 {
        animation-delay: 1s;
    }
    &--4 {
        animation-delay: 1.5s;
    }
}

@keyframes fadein {
    0% {
        translate: 0 30px;
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        translate: 0;
        opacity: 1;
    }
}

// *** animation plat ***



 
