h2 {
    margin: 40px 0 20px 20px;
}
.container {
    background-color: $backcolour-secondary;
    padding-bottom: 30px;
    img {
        object-fit: cover;
        width: 100%;
    }
    .img_2_bis {
        max-height: 270px;
    }
}

.menu {
    position: relative;
    top: -55px;
    background-color: $backcolour-secondary;
    border-radius: 40px 40px 0 0;
    &__title {
        padding-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &--heart {
            .fa-heart {
                font-size: 27px;
                padding-right: 10px;
                margin-top: 20px;
            }
            &-empty {
                position: absolute;
                color: $grey;
                transition: opacity 800ms;
                cursor: pointer;
                z-index: 1;
                &:hover {
                    opacity: 0;
                    & + .menu__title--heart-full {
                        opacity: 1;
                    }
                }
            }
            &-full {
                position: relative;
                @include background-btn(60deg);
                background-clip: text;
                color: transparent;
                opacity: 0;
                transition: opacity 960ms;
            }
        }
    }
    &__section {
       &--card {
           cursor: pointer;
           display: flex;
           position: relative;
           text-overflow: ellipsis;
           overflow: hidden;
           white-space: nowrap;
           flex-direction: column;
           justify-content: space-between;
           width: 95%;
           height: 80px;
           background-color: $white;
           border-radius: 15px;
           margin-bottom: 20px;
           margin-right: auto;
           margin-left: auto;
           padding: 14px 0 14px 15px;
           @include box-shadow;
           &:hover {
                .anim-check {
                    transform: translateX(0);
                }
                .fa-check-circle {
                    transform: rotate(360deg);
                }
                span:first-of-type {
                    transform: translateX(-80px);
                }
                h3, p {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
           &-txt {
                display: flex;
                justify-content: space-between;
                h3, p {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                span:first-of-type {
                    padding-right: 25px;
                    padding-left: 25px;
                    font-weight: 500;
                    transform: translateX(0);
                    transition: 300ms 50ms; 
                }
                &-anim {
                    position: absolute;
                    width: 80px;
                    background-color: $colour-tertiary;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    transform: translateX(100%);
                    transition: transform 300ms;
                }
                .fa-check-circle {
                    display: flex;
                    justify-content: center;
                    font-size: 26px;
                    color: $white;
                    line-height: 80px;
                    transform: rotate(0deg);
                    transition: transform 350ms;
                }
            }
        }
    }
}



// *** animation menu ***

.progressive_card {
    animation: fadein 3s;
    &--1 {
        animation-delay: 0s;
    }
    &--2 {
        animation-delay: 0.5s;
    }
    &--3 {
        animation-delay: 1s;
    }
    &--4 {
        animation-delay: 1.5s;
    }
}

@keyframes fadein {
    0% {
        translate: 0 30px;
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        translate: 0;
        opacity: 1;
    }
}