h2 {
    margin: 40px 0 20px 20px;
}
.container {
    
    img {
        object-fit: cover;
        width: 100%;
    }
    .img_2_bis {
        max-height: 270px;
    }
}

.menu {
    position: relative;
    top: -55px;
    background-color: $backcolour-secondary;
    border-radius: 40px 40px 0 0;
    &__title {
        padding-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .fa-heart {
            font-size: 27px;
            padding-right: 10px;
            margin-top: 20px;
        }
        
    }
    &__section {
       &--card {
           display: flex;
           flex-direction: column;
           justify-content: space-between;
           width: 95%;
           height: 80px;
           background-color: $white;
           border-radius: 15px;
           margin-bottom: 20px;
           margin-right: auto;
           margin-left: auto;
           padding: 14px 0 14px 15px;
           @include box-shadow;
           &-txt {
                display: flex;
                justify-content: space-between;
                span {
                    padding-right: 25px;
                    font-weight: 500;
                }
           }
       }
    }
}

