h2 {
    margin: 40px 0 20px 20px;
}
.container {
    background-color: $backcolour-secondary;
    padding-bottom: 30px;
    img {
        -o-object-fit: cover;
           object-fit: cover;
        width: 100%;
    }
    .img_2_bis {
        max-height: 270px;
    }
}

.menu {
    position: relative;
    top: -55px;
    background-color: $backcolour-secondary;
    border-radius: 40px 40px 0 0;
    &__title {
        padding-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &--heart {
            .fa-heart {
                font-size: 27px;
                padding-right: 10px;
                margin-top: 20px;
            }
            &-empty {
                position: absolute;
                color: $grey;
                transition: opacity 800ms;
                cursor: pointer;
                z-index: 1;
                &:hover {
                    opacity: 0;
                    & + .menu__title--heart-full {
                        opacity: 1;
                    }
                }
            }
            &-full {
                position: relative;
                @include background-btn(60deg);
                -webkit-background-clip: text;
                        background-clip: text;
                color: transparent;
                opacity: 0;
                transition: opacity 960ms;
            }
        }
    }
    &__section {
        &--title {
            animation: fadein 850ms ease-in-out backwards;
        }
        &--card {
           cursor: pointer;
           display: flex;
           position: relative;
           flex-direction: column;
           justify-content: space-between;
           overflow: hidden;
           width: 95%;
           height: 80px;
           background-color: $white;
           border-radius: 15px;
           margin-bottom: 20px;
           margin-right: auto;
           margin-left: auto;
           padding: 14px 0 14px 15px;
           @include box-shadow;
           &-title {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
           }
           &:hover {
                .anim-check {
                    transform: translateX(0);
                }
                .fa-check-circle {
                    transform: rotate(3turn);
                }
                .menu__section--card-txt-price {
                    padding-right: 90px;
                }
            }
           &-txt {
                display: flex;
                justify-content: space-between;
                &-name {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                &-price {
                    padding: 0 15px 0 15px;
                    font-weight: 500;
                    transition: 300ms 60ms;
                }
                &-anim {
                    position: absolute;
                    width: 80px;
                    background-color: $colour-tertiary;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    transform: translateX(100%);
                    transition: transform 300ms;
                }
                .fa-check-circle {
                    display: flex;
                    justify-content: center;
                    font-size: 26px;
                    color: $white;
                    line-height: 80px;
                    transform: rotate(0deg);
                    transition: transform 350ms;
                }
            }
        }
    }
}



// *** animation menu ***

.progressive_card {
    
-webkit-animation: fadein 850ms ease-in-out backwards;

        animation: fadein 850ms ease-in-out backwards;
    &--1 {
        -webkit-animation-delay: 0s;
                animation-delay: 0s;
    }
    &--2 {
        -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s;
    }
    &--3 {
        -webkit-animation-delay: 1s;
                animation-delay: 1s;
    }
    &--4 {
        -webkit-animation-delay: 1.5s;
                animation-delay: 1.5s;
    }
}



@-webkit-keyframes fadein {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



@keyframes fadein {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}