
.footer {
    background-color: $dark_grey;
    color: $white;
    width: 100%;
    height: 220px;
    padding: 28px 0 0 23px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        padding-bottom: 7px;
    }
    h4 {
        font-family: 'Shrikhand';
        font-size: 18px;
        padding-bottom: 19px;
        margin: 0;
    }
    &__icon-text {
        display: flex;
        align-items: center;
        i {
            padding-right: 10px;
        }
        .fa-hands-helping {
            font-size: 11px;
        }
    }
}