
.footer {
    background-color: $dark_grey;
    color: $white;
    width: 100%;
    padding: 28px 0 40px 23px;
    &__list {
        li {
            padding-bottom: 8px;
        }
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        .fa-utensils {
            font-size: 14px;
            padding-right: 10px;
        }
        .fa-hands-helping {
            font-size: 11px;
            padding-right: 8px;
        }
        a {
            text-decoration: none;
            color: $white;
            &:hover {
                color: $colour-primary;
            }
        }  
    }
}

