
.footer {
    background-color: $dark_grey;
    color: $white;
    width: 100%;
    height: 220px;
    padding: 28px 0 0 23px;
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        height: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .fa-utensils {
            font-size: 14px;
            padding-right: 10px;
        }
        .fa-hands-helping {
            font-size: 11px;
            padding-right: 8px;
        }
        a {
            text-decoration: none;
            color: $white;
            &:hover {
                color: $colour-primary;
            }
        }  
    }
}

