.logo {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
        &__pic {
            max-width: 100%; 
            padding: 13px 0;
        }
    .fa-arrow-left {
        font-size: 19px;
        position: absolute;
        left: 20px;
        top: 17px;
        color: $black;
    }
}